<form action="/display_puppy" method="post">
  <label for=""></label>
    <input type="text" name="" value="">
  <label for=""></label>
    <input type="text" name="" value="">
    <label for=""></label>
      <in
</form>
