<form action="/display_puppy" method="post">
  <p>Name: <input type="text" name="name" id ="name"></p>
  <p>Breed: <input type="text" name="breed" id="breed"></p>
  <label for="breed"></label>

  <label for=""></label>
    <input type="age" name="age" id="age">
</form>
